


.main {
    background-color: rgb(0, 0, 0);
}

#master-thesis-note {
    margin-top: 20%; /* Adjust this value to control the space between the sidebar contents and the master thesis note */
}


.video-container {
    position: relative;
    padding-top: 30%; /* Adjust this value as needed */
    padding-bottom: 30%; /* Adjust this value to match padding-top */
    height: 0;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: -10%; /* Align video to the top */
    left: 0;
    width: 100%;
    height: 110%; /* Take full height of the container */
}

.circle-image {
    width: 225px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-color: white;
    border-width: 5px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15; /* Adjust this value as needed */
    margin-bottom: 30;
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.note-icon {
    position: absolute;
    top: 2px; /* Adjust as needed */
    right: 2px; /* Adjust as needed */
    font-size: 11px; /* Adjust size as needed */
    color: #000; /* Color of the icon */
}

.note-text {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 12px; /* Add border-radius to the image */
}

.image-container:hover img {
    transform: scale(1.35); /* Increase the scale factor to enlarge the image more */
    z-index: 1000; /* Ensure the enlarged image is on top of other content */
}

/* Container for enlarged image */
.enlarged-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Ensure the container is above other content */
    display: none;
}

.enlarged-image img {
    max-width: 80%; /* Adjust the maximum width of the enlarged image */
    max-height: 80%; /* Adjust the maximum height of the enlarged image */
    border: 2px solid rgb(83, 81, 81); /* Change border color to black */
    border-radius: 12px; /* Add border-radius to the enlarged image */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5); /* Box shadow for the enlarged image */
}

.image-container:hover .enlarged-image {
    display: block;
}

#sidebar_name {
    margin-top: 1.2%; /* Adjust margin relative to the height of the sidebar */
    font-size: 1.6vw; /* Adjust font size relative to the viewport width */
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.3); /* Adjust text shadow relative to the viewport width */
}

#sidebar_about {
    margin-top: 1.5%; /* Adjust margin relative to the height of the sidebar */
    text-align: justify;
    margin-bottom: 10%; /* Adjust margin relative to the height of the sidebar */
}


[data-testid=stSidebar] {
    background-image: linear-gradient(#000000,#1a1a25);
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

/* Design Hyperlink */
a:link , a:visited{
    color: white;
}
    
a:hover,  a:active {
    color: white;
    text-decoration: underline;
}
